option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 10
    # Availability Zones: "Any 1"
    # Custom Availability Zones: "us-east-2a"
  aws:autoscaling:trigger:
    BreachDuration: 300
    LowerBreachScaleIncrement: -1
    LowerThreshold: 30
    MeasureName: CPUUtilization
    Period: 300
    Statistic: Average
    Unit: Percent
    UpperBreachScaleIncrement: 2
    UpperThreshold: 80
  aws:autoscaling:launchconfiguration:
    SecurityGroups: default
