option_settings:
  aws:ec2:vpc:
    VPCId: vpc-09eb4ca48e775695f
    Subnets: subnet-02dc986b05a96ec75
    ELBSubnets: subnet-02dc986b05a96ec75,subnet-05ce3439cd3a42816
    AssociatePublicIpAddress: 'true'
  # Instance Configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: c5.xlarge



  # NLB Listener Configuration
#  aws:elbv2:listener:1935:
 #   ListenerEnabled: 'true'
  #  Protocol: TCP
  #  DefaultProcess: default
