option_settings:
  # Instance Configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: c5.xlarge

  # Docker Configuration
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  # Network Load Balancer Configuration
  aws:elasticbeanstalk:environment:
    LoadBalancerType: network

  # NLB Listener Configuration
  aws:elbv2:listener:1935:
    ListenerEnabled: 'true'
    Protocol: TCP
    DefaultProcess: default

# Additional Resources
Resources:
  # Security Group for RTMP traffic
  RTMPSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Allow RTMP traffic
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 1935
          ToPort: 1935
          CidrIp: 0.0.0.0/0

  # Attach the security group to the environment
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 1935
      FromPort: 1935
      SourceSecurityGroupId: 
        {"Fn::GetAtt" : ["RTMPSecurityGroup", "GroupId"]}