option_settings:
  aws:ec2:vpc:
    VPCId: vpc-09eb4ca48e775695f
    AssociatePublicIpAddress: 'true'
  # Instance Configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: c5.xlarge

  # Docker Configuration
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  # Network Load Balancer Configuration
  aws:elasticbeanstalk:environment:
    LoadBalancerType: network

  # NLB Listener Configuration
  aws:elbv2:listener:1935:
    ListenerEnabled: 'true'
    Protocol: TCP
    DefaultProcess: default
