option_settings:
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '10'
    HealthyThresholdCount: '5'
    UnhealthyThresholdCount: '5'
    Port: '80'
    Protocol: TCP
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-0a54cd8ef0cc4fa3d