option_settings:
  aws:ec2:vpc:
    AssociatePublicIpAddress: 'true'
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "pov_backend.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: pov_backend.wsgi:application
    