option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 5
    # Availability Zones: "Any 1"
    # Custom Availability Zones: "us-east-2a"
  aws:autoscaling:trigger:
    BreachDuration: 300
    LowerBreachScaleIncrement: -1
    LowerThreshold: 20
    MeasureName: CPUUtilization
    Period: 300
    Statistic: Average
    Unit: Percent
    UpperBreachScaleIncrement: 1
    UpperThreshold: 75
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-0a54cd8ef0cc4fa3d