option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:80:
    DefaultProcess: django
    Rules: django
  aws:elbv2:listenerrule:streaming:
    PathPatterns: /api/*
    Process: django
  aws:elbv2:listenerrule:streaming:
    PathPatterns: /stream
    Process: streaming
  aws:elasticbeanstalk:environment:process:django:
    Port: '8000'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:streaming:
    Port: '1935'
    Protocol: HTTP