option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 10
  aws:autoscaling:trigger:
    BreachDuration: 300
    LowerBreachScaleIncrement: -1
    LowerThreshold: 30
    MeasureName: CPUUtilization
    Period: 300
    Statistic: Average
    Unit: Percent
    UpperBreachScaleIncrement: 2
    UpperThreshold: 80