option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    EnvironmentType: LoadBalanced
  aws:elbv2:listener:80:
    Rules: stream,app
  aws:elbv2:listener:8082:
    DefaultProcess: stream
    ListenerEnabled: 'true'
  aws:elbv2:listener:8085:
    DefaultProcess: app
    ListenerEnabled: 'true'
  aws:elbv2:listenerrule:stream:
    PathPatterns: /stream/*
    Priority: 2
    Process: stream
  aws:elbv2:listenerrule:app:
    PathPatterns: /*
    Priority: 1
    Process: app
  aws:elasticbeanstalk:environment:process:stream:
    Port: 1935
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:app:
    Port: 8000
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:stream:
    HealthCheckPath: /stream/
  aws:elasticbeanstalk:environment:process:app:
    HealthCheckPath: /users/health
  aws:elasticbeanstalk:command:
    Timeout: "300"