option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    EnvironmentType: LoadBalanced
  aws:elbv2:listener:80:
    Rules: app
  aws:elbv2:listener:8085:
    DefaultProcess: app
    ListenerEnabled: 'true'
  aws:elbv2:listenerrule:app:
    PathPatterns: /*
    Priority: 1
    Process: app
  aws:elasticbeanstalk:environment:process:app:
    Port: 8000
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:app:
    HealthCheckPath: /users/health
  aws:elasticbeanstalk:command:
    Timeout: "300"